@font-face {
  font-family: 'Roboto Light';
  src: url("fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("fonts/Roboto-Regular.ttf");
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202020
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}



body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: safe;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-y: hidden;
  height: 100vh;
  overflow-x: hidden;
}

.app-bar {
  display: flex;
  align-items: center;
  background: #202020;
  position: fixed;
  height: 72px;
  width: 100%;
}

.avatar {
  margin-left: 12px;
}

.avatar-description {
  font-family: "Roboto Light";
  font-size: 32px;
  color: #fff;
  margin-left: 14px;
}

.app-container {
  height: 100%;
  margin-top: 72px;
  overflow-y: scroll;
  position: relative;
  width: inherit;
  height: 80vh;
}


.input-container {
  margin-top: 12px;
  margin: 0 auto;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* bottom: 60px; */
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  /* position: relative; */
  width: 95%;
  height: 100px;
  background: #fff;
  z-index: 20px;
}

.input-field {
  padding-left: 12px;
  width: 79%;
  font-family: "Roboto Regular";
  font-size: 30px;
  height: 54px;
  border: 1px solid;
  border-radius: 5px;
  /* margin: auto; */
}

.icon-general {
  width: 48px;
  height: 48px;
  /* color: #fff; */
  /* background-color: #fff; */
}

.btn-text {
  margin: 0;
  color: #fff;
  font-size: 27px;
}

.chat-container {
  position: absolute;
  bottom: 0;
}

.chatbot-window {
  margin: 20px 0px;
  width: 100%;
  overflow-y: scroll;
  /* height: 86%; */
  /* position: absolute; */
  align-items: center;
  top: 120px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Regular";
}

.submit-button {
  font-family: "Roboto Light";
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  border: #160D2F;
  height: 58px;
  width: 160px;
  border-radius: 5px;
  /* margin: auto; */
  background-color: #160D2F;
}


.chatbubble-question {
  padding: 12px;
  width: 90%;
  font-size: 30px;
  height: fit-content;
  color: #fff;
  background-color: #160D2F;
  
}

.chatbubble-answer {
  color: #fff;
  padding: 12px;
  margin: 20px;
  font-size: 30px;
  width: 90%;
  height: fit-content;
  background-color: #2B4D8E;
}

@media screen and (max-width: 768px) {
  .btn-text {
    display: none !important;
  }
  .submit-button {
    width: fit-content;
    margin-left: 2%
     
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .input-field {
    margin-right: 2%;

  }

  .chatbot-window {
    /* top: 80px; */
    height:;
  }
}